apiVersion: v1
kind: Service
metadata:
  name: proxy
  namespace: prod
  labels:
    app: proxy
spec:
  type: ClusterIP
  selector:
    app: proxy
  ports:
    - protocol: TCP
      port: 9993
      targetPort: 9963
