apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: prod
  labels:
    app: server
spec:
  type: ClusterIP
  selector:
    app: server
  ports:
    - protocol: TCP
      port: 2993
      targetPort: 2963
